<div class="timeline">
    <div class="container left-container">
        <div class="education">
            <img src="\assets\sitcoe.png" height="100%">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                <path
                    d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
            </svg>
            <div class="content">
                <h1>College Name:<br><span>Sharad Institute Of Technology College Of Engineering,Yadrav</span></h1>
                <h1>Address:<span>Yadrav-416146,Ichalakranji,India</span></h1>
                <h1>Year:<span>2021-2024</span></h1>

            </div>
        </div>

    </div>

    <div class="container right-container">
        <div class="education">
            <img src="\assets\12th.jpg" height="90%">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                <path
                    d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
            </svg>
            <div class="content1">
                <h1>College Name:<br><span>Shri.Kusumati Rajarambapu Patil Kanya Mahavidyalaya,Islampur</span></h1>
                <h1>Address:<span>Islampur-415409,Satara,India</span></h1>
                <h1>Year:<span>2019-2020</span></h1>
            </div>
        </div>
    </div>

    <div class="container left-container">
        <div class="education">
            <img src="\assets\10th.jpeg">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                <path
                    d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
            </svg>
            <div class="content">
                <h1>School Name:<br><span>Karmveer Bhaurao Patil Vidyalaya,Bagani</span></h1>
                <h1>Address:<span>Bagani 416302,Sangli,India</span></h1>
                <h1>Year:<span>2018-2019</span></h1>

            </div>
        </div>
    </div>

</div>