
<section class="footer">
    <div class="box-container">
        <div class="col-sm">
            <h3>Supriya's Portfolio</h3>
            <p>Thank you for visiting my personal portfolio website. Connect with me over socials. <br /> <br /> Keep
                Rising 🚀.Keep Smiling!!! </p>
        </div>
        <div class="col-sm-1">
            <h3>Quick Links</h3>
            <a href="/home"><i class="bi bi-house"></i>Home</a>
            <a href="/about"><i class="fa-solid fa-address-card" style="color: #0b0227;"></i> About</a>
            <a href="/skills"><i class="fas fa-chevron-circle-right"></i> Skills</a>
            <a href="/education"><i class="fas fa-chevron-circle-right"></i> Education</a>
            <a href="/experience"><i class="fas fa-chevron-circle-right"></i> Experience</a>
        </div>

        <div class="col-sm ml-2">
            <h3>Contact Me</h3>
            <p> <i class="fas fa-phone"></i>+91 1234567890</p>
            <p> <i class="fas fa-envelope"></i>sawantsupriya0517@gmail.com</p>
            <p> <i class="fas fa-map-marked-alt"></i>Sangli-416302,India</p>
        </div>
    </div>

    <h1 class="credit">Designed<i class="fa fa-heart pulse"></i> by <a
            href="">Supriya Sawant</a></h1>

</section>