<div class="container">
    <div class="card" style="width: 18rem;">
        <img src="\assets\cc.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Cloud Computing</h5>
            <p class="card-text">Cloud computing is the on-demand access of computing resources—physical servers or
                virtual servers, data storage, networking capabilities, application development tools, software, </p>

        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="\assets\ml.webp" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Machine Learning</h5>
            <p class="card-text"> Machine learning is a subfield of artificial intelligence, which is broadly defined as
                the capability of a machine to imitate intelligent human behavior.</p>

        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="\assets\c.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Computer Networking</h5>
            <p class="card-text">
                Computer networking refers to interconnected computing devices that can exchange data and share
                resources with each other</p>

        </div>
    </div>
</div>