.about {
  position:fixed;
  padding-top: 50px; 
  background-color: rgb(24, 24, 92); 
}

.heading {
  text-align: center;
  font-size: 40px;
  color: rgb(227, 227, 235);
}

.about .row {
  display: flex;
  flex-direction: row;
  padding: 2rem;
}

.about .row .image {
  margin-top: 10px;
  flex: 1 1 20rem;
}

.about .row .image img {
  margin: 2rem;
  width: 20rem;
  height: auto;
  border-radius: 5%;
  box-shadow: 0 5px 10px rgb(227, 227, 235);
  mix-blend-mode: luminosity;
  transition: 0.3s;
  cursor: pointer;
}

.about .row .image img:hover {
  mix-blend-mode: normal;
}

.about .row .content {
  margin-right: 20px;
  flex: 1 1 35rem;
  padding: 2rem;
}

.about .row .content h3 {
  color: rgb(227, 227, 235);
  font-size: 2.5rem;
}

.about .row .content .tag {
  color: rgb(227, 227, 235);
  font-weight: 800;
  font-size: 20px;
  margin-top: 5px;
}

.about .row .content p {
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
  color: rgb(227, 227, 235);
}

.box-container .box span {
  font-size: 15px;
  font-weight: 200;
  font-weight: bold;
}

.resumebtn {
  margin-top: 2rem;
}

.resumebtn .btn {
  padding: 1rem 2rem;
  border-radius: 0.5em;
  color: blue;
  background: rgb(227, 227, 235);
  box-shadow: 0px 5px 10px rgba(48, 68, 247, 0.6);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.resumebtn a {
  text-decoration: none;
}

.resumebtn .btn span {
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
}

.resumebtn .btn:hover {
  background: #cec9e4;
}

.btn1 {
  padding-top: 10px;
}

.btn1 .btn2 {
  padding: 1rem 2rem;
  border-radius: 0.5em;
  color: blue;
  background: rgb(227, 227, 235);
  box-shadow: 0px 5px 10px rgba(48, 68, 247, 0.6);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn1 a {
  text-decoration: none;
}

.btn2 span {
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: 0rem;
}

@media screen and (max-width: 600px) {
  .about .row {
    flex-direction: column;
    align-items: center; /* Align items at the center horizontally */
  }

  .about .row .image {
    margin-top: 2rem;
    margin-bottom: 2rem; /* Add margin bottom for spacing */
    align-self: center; /* Align image at the center horizontally */
  }

  .about .row .image img {
    width: 80%; /* Adjust image width */
  }

  .about .row .content {
    padding: 1rem;
    text-align: center; /* Center-align content */
  }
}


