<section class="about" id="about">
  <h2 class="heading">About <span>Me</span></h2>

  <div class="row">

    <div class="image">
      <img draggable="false" class="tilt" src="\assets\Supriya Sawant.png" alt="">

    </div>
    <div class="content">
      <h3>I'm Supriya Sawant</h3>
      <span class="tag">Intern @Ameliorate|Senior Secretary at COMPESA|Full Stack Developer|<br>Java Developer|Machine
        Learning</span>

      <p>I am a Full-Stack developer based in Sangli, India.Currently I am pursuing CSE from SITCOE,Yadrav.As I am
        Entusiastic and Determinent girl and like to face Challenges.
        I am very passionate about improving my coding skills & developing applications & websites.I build WebApps and
        Websites using MERN Stack.
        Working for myself to improve my skills.Love to build Full-Stack clones.</p>

      <div class="box-container">
        <div class="box">
          <p><span> Age: </span> 20</p>
          <p><span> Phone : </span> +91 9561303283</p>
        </div>
        <div class="box">
          <p><span> Email : </span> sawantsupriya0517@gmail.com</p>
          <p><span> Place : </span> Sangli, India - 412206</p>
        </div>
      </div>

      <div class="resumebtn">
        <a href="https://drive.google.com/file/d/1wIA5P9ULod4ArwxJe7DTKCPj-UAZb1If/view?usp=drive_link" class="btn"><span>Resume</span>

        </a>
      </div>
      <div class="btn1">
        <a href="#" class="btn2"><span>Achievements</span></a>
      </div>
      

    </div>
  </div>
</section>