/* Base styles */
.menu {
    background-color: rgb(24, 24, 92);
    padding: 50px;
}

.container {
    padding-top: 20px;
}

h1 {
    color: #fff;
    text-align: center;
}

.card {
    height: 100%;
}

.card-title {
    color: rgb(175, 17, 243);
    font-size: 20px;
    font-weight: bold;
}

.card-text {
    padding-top: 10px;
    color: black;
    font-size: 15px;
}

.card-body span {
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.btn.btn-primary {
    color: #fff;
    padding: 0.9rem 1rem;
    background-color: rgb(175, 17, 243);
    border-radius: 10px;
    text-decoration: none;
    border: none;
}

/* Responsive styles */
@media (max-width: 768px) {
    .container {
        padding-top: 10px;
    }

    .card {
        height: auto;
    }

    .card-title {
        font-size: 18px;
    }

    .card-body span {
        font-size: 16px;
    }

    .btn.btn-primary {
        padding: 0.7rem 0.8rem;
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .btn.btn-primary {
        padding: 0.5rem 0.6rem;
        font-size: 12px;
    }
}
