<div class="menu">
    <div class="container">
        <h1>Projects</h1>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Quide</h5>
                        <span>Technology:-C</span><br>
                        <p class="card-text">This is a comprehensive and error-free Quiz Game Project in
                            that is meant to run on a console.In this project, several questions are asked, and the user
                            is
                            awarded a cash prize for each correct answer given.</p>
                        <a href="#" class="btn btn-primary">Click Me</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Expense Tracker System</h5>
                        <span>Technology:-HTML,CSS,JAVASCRIPT,SQL</span><br>
                        <p class="card-text">Expense Tracker is a Software or application that helps to keep an
                            accurate record of your money inflow and outflow.
                            Expense Tracker is important in creating a budget for your
                            businesses.</p>
                          
                        <a href="#" class="btn btn-primary">Click Me</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Bus Management System</h5>
                        <span>Technology:-JAVA,MySQL</span>
                        <p class="card-text">It is an Online Student Bus Pass Generation system, a website
                            for students to get bus passes online.
                            This project allows users to register on the bus pass
                            application and interact online to manage their
                            accounts.</p>
                        <a href="#" class="btn btn-primary">Click Me</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">ProjectHUB</h5>
                        <span>Technology:-AngularJs</span>
                        <p class="card-text">It is a repository that is one of the components of knowledge
                            management systems & holds content-explicit knowledge and is
                            concerned with managing.
                             It will provide open access to institutional research output by
                            self-archiving in an open-access repository..</p>
                           
                        <a href="#" class="btn btn-primary">Click Me</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Finance Bank</h5>
                        <span>Technology:-C++</span>
                        <p class="card-text">It is an Online Student Bus Pass Generation system, a website
                            for students to get bus passes online.
                            This project allows users to register on the bus pass
                            application and interact online to manage their
                            accounts.</p>
                           
                        <a href="#" class="btn btn-primary">Click Me</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Online Learning PlatForm</h5>
                          <span>Technology:-HTML,CSS,JAVASCRIPT,BOOTSTRAP,AngularJS</span>
                        <p class="card-text">It is a repository that is one of the components of knowledge
                            management systems & holds content-explicit knowledge and is
                            concerned with managing.
                            It will provide open access to institutional research output by
                            self-archiving in an open-access repository..</p>
                          
                        <a href="#" class="btn btn-primary">Click Me</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>