.container{
    padding-top: 50px;
    max-width: 100%;
    background-color: rgb(24, 24, 92);
}
.achievement {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .certificate-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
  }
  .title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    color: #333;
    text-align: center;
  }
  .content {
    font-size: 16px;
    color: #666;
    text-align: justify;
    margin-top: 10px;
  }