<div class="container">
  <div class="achievement">
    <img src="\assets\contact1.avif" alt="Certificate" class="certificate-img">
    <div class="title">SHARK TANK</div>
    <div class="content">
      <p>This is the national level event shark tank which is oraganized at Kolhapur Technology Institute College of
        Engineering.In this event me with my group members presented s project which is Expense Tracker. </p>
      <p>Issued on: March 17, 2024</p>
      <p>Presented by:</p>
    </div>
  </div>


  <div class="achievement">
    <img src="\assets\contact1.avif" alt="Certificate" class="certificate-img">
    <div class="title">TECH-IT-OUT</div>
    <div class="content">
      <p>In this event I got 2nd rank and this event is totally based on technical scenario.This event contains 3
        rounds first one is Aptitude Round,second one is Coding Round and third and final round was Interview Round.</p>
      <p>Issued on: March 17, 2024</p>
      <p>Presented by: </p>
    </div>
  </div>


  <div class="achievement">
    <img src="\assets\contact1.avif" alt="Certificate" class="certificate-img">
    <div class="title">Innovation</div>
    <div class="content">
      <p>There was a National Level Event organized at SITCOE,Yadrav which was pythonCrew.In this event their was 2
        rounds such as 1st one is Aptitude Round and 2nd one is Coding Round.
      </p>
      <p>Issued on: March 17, 2024</p>
      <p>Presented by: </p>
    </div>
  </div>


 
  <div class="achievement">
    <img src="\assets\contact1.avif" alt="Certificate" class="certificate-img">
    <div class="title">Innovation</div>
    <div class="content">
      <p>There was a National Level Event organized at SITCOE,Yadrav which was pythonCrew.In this event their was 2
        rounds such as 1st one is Aptitude Round and 2nd one is Coding Round.
      </p>
      <p>Issued on: March 17, 2024</p>
      <p>Presented by:</p>
    </div>
  </div>
</div>