<div class="menu">
    <div class="technical">
        <h1>Tech Area</h1>
        <div class="container">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="\assets\about.jpg">
                <div class="card-body">
                    <h5 class="card-title">Java</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="\assets\about.jpg">
                <div class="card-body">
                    <h5 class="card-title">HTML</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>

                </div>
            </div>


            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="\assets\about.jpg">
                <div class="card-body">
                    <h5 class="card-title">CSS</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>

                </div>
            </div>
        </div>


        <div class="container">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="\assets\about.jpg">
                <div class="card-body">
                    <h5 class="card-title">Javascript</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>

                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="\assets\about.jpg">
                <div class="card-body">
                    <h5 class="card-title">Angular</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>

                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="\assets\about.jpg">
                <div class="card-body">
                    <h5 class="card-title">BOOTSTRAP</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>

                </div>
            </div>
        </div>
    </div>



    <div class="non-technical">
        <h1>Non-Tech Area</h1>
    
        <div class="container">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="\assets\about.jpg">
                <div class="card-body">
                    <h5 class="card-title">Java</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>

                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="\assets\about.jpg">
                <div class="card-body">
                    <h5 class="card-title">HTML</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>

                </div>
            </div>


            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="\assets\about.jpg">
                <div class="card-body">
                    <h5 class="card-title">CSS</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>

                </div>
            </div>

        </div>

        <div class="container">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="\assets\about.jpg">
                <div class="card-body">
                    <h5 class="card-title">Javascript</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>

                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="\assets\about.jpg">
                <div class="card-body">
                    <h5 class="card-title">Angular</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>

                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="\assets\about.jpg">
                <div class="card-body">
                    <h5 class="card-title">BOOTSTRAP</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>

                </div>
            </div>
        </div>
    </div>
</div>