/* #sidebar {
    width: 20%;
    background-color: rgb(201, 125, 236);
    padding-left: 2%;
    margin: 1rem;
}

.brand {
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.side-menu {
    font-size: 20px;
    list-style: none;
}

.divider {
    font-size: 10px;
}

.side-menu li a {
    text-decoration: none;
}

.sideside-dropdown ul {
    list-style: none;
}

.sideside-dropdown li a {
    text-decoration: none;
    list-style: none;

} 






 */
