/* Left Hand Side Starts */

.home {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    min-height: 100vh;
    align-items: center;
    background-color: rgb(24, 24, 92);
    padding: 0; /* Adjusted padding for better responsiveness */
   
}

.home .content {
    z-index: 1;
    max-width: 800px; /* Limit the width of content */
    margin: 0 auto; /* Center the content */
    text-align: center; /* Center text on smaller screens */
    margin-top: -5%;
}

.home .content h2 {
    font-size: 3rem;
    font-weight: 800;
    color: #fff;
    padding: 0 0 0.5rem 0; /* Added bottom padding for better spacing */
}

.home .content h2 span {
    font-size: 2rem;
    font-weight: 800;
    color: #ff7b00;
}

.home .content p {
    font-size: 2.5rem;
    color: #fff;
    font-weight: 600;
    padding: 0.5rem 0;
}

.demo h1{
    margin-bottom: 60px;
}
/* Styles for the link */
a {
    text-decoration: none;
    color: #333;
  }
  
  /* Styles for the button span */
  .button {
    background-color: #5847f3;
    color: #f1e8e8;
    padding: 20px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px; 
  }
  
  
  /* Styles for the icon */
.button fa-icon {
    margin-left: 5px;
  }
  
  a:hover{
    text-decoration: none;
    color: #333;
  }

.socials {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.socials .social-icons {
    background-color: rgb(235, 128, 146);
    padding: 10px 20px; /* Adjusted padding for better spacing */
}

.socials li {
    margin-bottom: 10px;
    list-style: none;
}

.socials a svg {
    color: #fff;
    width: 30px;
    height: 30px;
}

.demo h1 {
    color: #fff;
}

.demo text {
    color: red;
    font-size: 20px;
}

.socials .social-icons li a {
    color: #000;
    font-size: 20px;
    font-weight: 400;
}

.image-container {
    margin-top: 20px;
}

.image-container img {
    max-width: 90%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
    margin-right: 20px;
    margin-top: 40px;
}

span {
    color: red;
}

